.homePageComponents {
  height: 700px;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.homePageComponents div {
  display: flex;
  justify-content: space-evenly;
  width: inherit;
}

.homePageComponents div,
.homePageComponents .quote {
  opacity: .4;
  transition: .6s ease;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.homePageComponents div:hover,
.homePageComponents .quote:hover {
  opacity: 1;
}

.homePageComponents span {
  width: 40%;
  text-align: center;
  align-self: center;
}

.homePageComponents img {
  height: 500px;
  width: 500px;
}

@media (max-width: 550px) {
  .homePageComponents {
    padding: 0px;
    height: initial;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .homePageComponents div {
    padding-bottom: 15px;
    justify-content: space-evenly;
    opacity: 1;
  }

  .homePageComponents img {
    opacity: 1;
    transition: .6s ease;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
          -ms-animation: fadein 1s; /* Internet Explorer */
          -o-animation: fadein 1s; /* Opera < 12.1 */
              animation: fadein 1s;
  }

  .homePageComponents span {
    position: absolute;
    width: 60%;
    opacity: 0;
    transition: .6s ease;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
          -ms-animation: fadein 1s; /* Internet Explorer */
          -o-animation: fadein 1s; /* Opera < 12.1 */
              animation: fadein 1s;
  }

  .homePageComponents div:hover img,
  .homePageComponents div:active img {
    opacity: .2;
  }

  .homePageComponents div:hover span,
  .homePageComponents div:active span {
    opacity: 1;
  }

  .homePageComponents img {
    height: 250px;
    width: 250px;
  }

  .homePageComponents .quote {
    display: none;
  }
}